.warnings
  .github
    = link_to "GITHUB IS DOWN", 'http://status.github.com'
  .heroku
    = link_to "HEROKU IS DOWN", 'http://status.heroku.com'
%section
  %ol.projects
:coffeescript
  build_success = {code: 'PROJ', status: "success", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  build_failure = {code: 'SEMA', status: "failure", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  build_offline = {code: 'NYC', status: "offline", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  build_indeterminate = {code: 'COLO', status: "indeterminate", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

.clear
