<!DOCTYPE html>
<html>
<head>
<title>Project Monitor</title>
<link href="/static/styles.css" media="screen" rel="stylesheet" />
<meta content='300' http-equiv='refresh'>
<style lang="text/css">
p.add-note { margin: 20px 0 0 30px }
p.add-note, p.add-note * { color: white }
</style>
</head>
<body class='dashboard'>

<ul class="projects">
    {% for project in projects %}

        <li class="project {{project.state_class}}">
            <h2><span class="centered-words">{{project.name}}</span></h2>
            <p class="readme">
                <span class="icon">&#128196;</span> Readme
                <b>Valid</b>
            </p>
            <p class="builds">
                <span class="icon">&#9874;</span> Built <span id="time-since-last-build">{{project.last_updated}}</span> ago
            </p>
            <ol class="builds">
                {% for status in project.statuses %}
                    <li class="build icon {{status.state_class}}">
                        <a href="{{status.url}}" target="_blank">{{status.state_label}}</a>
                    </li>
                {% endfor %}
            </ol>
        </li>

    {% endfor %}
</ul>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $( "span[id*='time-since-last-build']" ).each(function(){
      $(this).replaceWith(moment(new Date($(this).text())).fromNow());
    })
  });
</script>
</div>
</body>
</html>
