html {
  height: 100%;
}

body.dashboard
{
  background-color: #444;
  font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;

  ul.projects
  {
    padding: 0;
    margin: 20px 0 0 30px;

    li.project
    {
      width: 289px;
      height: 184px;
      display: inline-block;
      padding: 18px;
      margin: 0 15px 15px 0;

      position: relative;

      .icon
      {
        font-family: Entypo;
        font-size: 150%;
        line-height: 20px;
      }

      h2
      {
        width: 100%;
        height: 100px;
        padding-top: 20px;
        border-bottom: 1px solid black;
        text-align: center;

        font-family: 'Gotham A', 'Gotham B', Helvetica, Arial, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 36px;
      }

      p.readme
      {
        float: right;
        width: 33%;
      }

      p.readme,
      p.builds
      {
        margin: 8px 0 0 0;
        white-space: nowrap;
      }

      p.builds,
      ol.builds
      {
        width: 60%;
      }

      ol.builds
      {
        list-style: none;
        margin: 4px 0 0 0;
        padding: 0;

        li.build
        {
          display: inline-block;
          width: 25px;
          height: 25px;
          a
          {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            line-height: 26px;
            text-decoration: none;
          }
        }
        li.build.success
        {
          background-color: #a8cbb7;
        }
        li.build.error
        {
          background-color: #df6666;
        }
      }
    }
    li.project.unbuilt
    {
      background-color: orange;
    }

    li.project.success
    {
      background-color: #b6ddc7;
    }

    li.project.failure
    {
      background-color: #ff7676;
    }
  }

  #footer .manage_links
  {
    margin-left: 30px;
  }
}
